<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HOAMS.Properties.Settings.HOASystemConnectionString"
            connectionString="Data Source=Jericho\SQLEXPRESS01;Initial Catalog=HOASystem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HOAMS.Properties.Settings.HOASystemConnectionString1"
            connectionString="Data Source=KYLES23O\SQLEXPRESS;Initial Catalog=HOASystem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>